.cart-item-card {

}

.cart-item-title {
  

}

.cart-item-img {
  width: 110px;
}

 .cart-item-title{
  padding-top: 5px;
  line-height: 10px;
  font-size: 32px;

  font-weight: 800;
  color: #202020;
 }
 .cart-item-subtitle{
  line-height: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #909090;
 }

 .cart-sidebar {
  position: sticky;
  display: inline-block;
}

.cart-sidebar-content {
  display: inline-block;
}