.movie-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 18px;
  row-gap: 22px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 20px;
}

.movie-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  transition: transform 250ms;
  padding-bottom: 10px;
  font-size: max(1.1vw, 12px);
  text-align: center;
  background-color: rgba(211, 211, 211, 0.3);
  color:rgb(51, 51, 51);

}

.movie-card:hover {
  box-shadow: 0 8px 16px 4px rgba(0, 255, 162, 0.25);
  transform: translateY(-8px);
}


.movie-img {
  width: 100;
}