.movie-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

.movie-card {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: max(1.25vw, 14px);
  text-align: center;
}

.movie-img {
  width: 100;
}